<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "testNGsuite">
<listeners>

<listener class-name="com.test.Megneil.opteli.utilities.Reporting"/>

</listeners>

<test name = "testNGtest">
<parameter name ="browser" value = "chrome"/>
<classes>
<!--class name="com.test.Megneil.opteli.testScripts.TC001_appointmentReport"/-->
<class name="com.test.Megneil.opteli.testScripts.TC002_SMSNotifications"/>
</classes>
</test>
</suite>